<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        ">

        <!--spring-mvc组件默认配置+启动注解等等-->
        <mvc:annotation-driven/>

        <!--spring ioc中扫描-讲注解Controller扫入-->
        <!--<context:component-scan base-package="com.company.controller">-->
            <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
        <!--</context:component-scan>-->

        <context:component-scan base-package="com.company"/>

        <bean id="demoExceptionResolver" class="com.demo.base.Exception.DemoExceptionResolver"/>


        <!--@aspectj启动，子类代理-->
        <aop:aspectj-autoproxy proxy-target-class="true"/>

        <!--将定义aspectj扫入spring bean容器里（二选一）-->
        <context:component-scan base-package="com.company.aspectj">
            <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
        </context:component-scan>
        <!--<bean id="logAspectj" class="com.company.aspectj.LogAspectj"/>-->

        <!--spring最多加载一个context:property-placeholder-->
        <!--如果去掉jdbc.properties加载，demo-web启动会提示找不对应变量值-->
        <context:property-placeholder location="classpath:redis.properties,classpath*:jdbc.properties"/>

        <!--将spring-redis引入spring中-->
        <import resource="spring-redis.xml"/>

</beans>